.Footer {
  height: 210px;
  background-color: #0A1225;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.Footer img {
  width: 40px;
}

.Footer p a {
  color: white;
}